.logon-container {
  width: 200%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 10%;
  width: 17%;
}

.central {
  background: white;
  color: #000000;
  height: 80%;
  width: 80%;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  margin: 10px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.card {
  transition: 0.2s ease;
  text-decoration: none;
  background-color: #bfbfbf;
}

.card-body {
  color: black;
}

.card:hover {
  scale: 1.05;
}

.card-title {
  color: inherit;
  text-decoration: none;
}
