.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

}
.logo {
    height: 10%;
    width: 17%;
}

.central {
    background: white;
    color: #000000;
    height: 80%;
    width: 80%;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    margin: 10px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }